
@font-face {
    font-family: altivo_boldbold;
    src: url(../fonts/altivo-bold.woff2) format('woff2'), url(../fonts/ltivo-bold.woff) format('woff');
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: altivolight;
    src: url(../fonts/altivo-light.woff2) format('woff2'), url(../fonts/altivo-light.woff) format('woff');
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: altivomedium;
    src: url(../fonts/altivo-medium.woff2) format('woff2'), url(../fonts/altivo-medium.woff) format('woff');
    font-weight: 400;
    font-style: normal
  }
  @font-face {
    font-family: altivoregular;
    src: url(../fonts/altivo-regular.woff2) format('woff2'), url(../fonts/altivo-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal
  }
  h1, h2, h3, h4, h5, h5{margin: 0; padding:0}
  h3{font-size: 18px; font-weight: 500; }
  h6{font-size: 16px;}
  body{
   
    margin: 0;
      font-size: 15px;
      font-family: altivoregular;
      font-variant: tabular-nums;
      line-height: auto !important;
      -webkit-font-feature-settings: "tnum";
      font-feature-settings: "tnum","tnum";
  }
  
  /*Header*/
  .header{ top: 0; position: absolute; width: 100%; z-index: 1;  padding: 15px ;
   
  z-index: 2;  
  }
  .inner_header{top: 0; position: absolute; width: 100%; z-index: 1;  padding: 15px ;
  z-index: 2; }
  .inner_header .iconify{font-size: 24px; }
  .header .lang{font-size: 28px; font-weight:500; margin-right: 5px; line-height: 0;}
  .header .cart_bag{margin-right: 15px; display: inline-block;}
  
  
  /*Inner Sub Header*/
  .white_wrapper{
      border-radius: 15px;
      margin-top: -30px; 
      padding: 5px 0 0 0;
      position: relative;
      height: 100%;}
  .white_wrapper h2{margin:0; padding: 0; font-size: 17px; }
  .sub_header{ position: relative; padding:50px 0;}
  .sub_header h1{font-size: 20px; margin: 0; padding:0; }
  .v_detail p{  text-transform: uppercase; font-size: 14px; line-height: 1.4}
  .vendor .col-md-4{ width: 30% }
  .vendor .col-md-8{ width: 70% }
  hr{margin: 0; padding: 0; height: auto; border-top: 2px solid rgba(0, 0, 0, 0.1);}
  .modal-dialog {
     
      margin:0rem auto;
  }
  .checkout_header{  position: relative; padding:50px 0;}
  .checkout_header h1{font-size: 20px;  margin: 0; padding:0; }
  
  
  .deliver_list{margin: 0 0; padding: 0 ; list-style: none;}
  .deliver_list li{padding: 22px 15px; }
  
  .pickup_list{margin: 0 0; padding: 0 ; list-style: none;}
  .pickup_list li{padding: 22px 15px; position: relative;}
  .pickup_list li h3{margin-bottom: 4px;}
  .pickup_list li small{ font-size: 16px;}
  .pickup_list li .iconify{margin-right: 4px;}
  .pickup_list .select_a{position: absolute;
             right: 13px;
      top: 34px;}
  /*Searcha area*/
  .search_area{ padding: 20px 40px; }
  .search_area{ padding: 20px 10px; }
  .search_area .d-flex2{padding: 0 40px !important}
  
  .delivery_pickup_opup .nav-pills .nav-link {
      border-radius: 0;
  }
  .delivery_pickup_opup  .modal-content {
     
      border: 0;
      border-radius: 0;
     
  }
  .delivery_pickup_opup .modal-body{padding: 0 ;}
  
  
  .delivery_pickup_opup .nav-link {
     padding: 1.3rem 1rem;
  }
  
  
  .item_detail_popup .nav-pills .nav-link {
      border-radius: 0;
  }
  .item_detail_popup  .modal-content {
     
      border: 0;
      border-radius: 0;
     
  }
  .item_detail_popup .modal-body{padding: 0 ;}
  
  
  .item_detail_popup .nav-link {
     padding: 1.3rem 1rem;
  }
  
  .search_area .form-control{padding: 25px !important; border-radius: 12px !important; border: 0 !important; box-shadow: none;}
  .form-control:focus{box-shadow: none;}
  
  /*Products area*/
  .products_area{padding: 0 0;}
  .products_area .accordion .card .card-header {
      border-radius: 15px;
  }
  .products_area .card-body{padding: 0px; }
  .products_area .card-header{border: 0; padding: 20px; margin:  0 15px; font-size: 16px;}
  .products_area .card-body .row{padding: 16px 12px 21px 12px;}
  .products_area .card{border: 0;background: none;}
  .products_area .heading_img img{border-radius: 80px; margin-right: 10px;}
  .products_area .img_block {
      width: 33%;
      float: left;
      margin: 0 15px 0 0;
  }
  a:hover{text-decoration: none;}
  .qty_show {margin: 5px 0 0 0;}
  .qty_show input{    width: 50px;
      text-align: center;
      background: transparent;
      border: 0;}
  .qty_show{width: 100%;
      float: left;}
  .qty_show button:focus{outline: none; box-shadow: none;}
  .qty_show button{border:0;  width: 40px; background: transparent; font-weight: 900; font-size: 22px;}    
  .products_area .item_detail{float: left; width: 80%}
  .products_area .product_detail_ff{
      position: absolute;
      top: 28%;
      font-size: 18px;
      right: 12px;     width: 24px;
      height: 30px;
      line-height: 33px;
      text-align: center;}
  .products_area .show_cart{position: absolute;
      right: 10px;
      top: 24%;}
  .card-title span{margin: 0 8px;}
  .products_area .price small{font-size: 14px; font-weight: 600; margin:  0 0px 0 10px}
  .products_area .price { font-weight: 600;  }
  .products_area .price span{ text-decoration: line-through;}
  .products_area .accordion .card-header:after {
      font-family: 'FontAwesome';
      content: "\f106";
      float: right;
      font-size: 24px;
      margin:-8px 5px 0 0;
  }
  .products_area .card-header.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\f107"; 
  }
  
  
  .panel .col-md-4{ width: 30% }
  .panel .item_img img{border-radius: 15px;}
  .panel .col-md-8{ width: 70% }
  
  
  /*newsletter*/
  .newsletter{text-align: center; padding: 0 15px;}
  .newsletter h2{font-size: 20px; font-weight: 600}
  .newsletter p{width: 80%; margin: 4px auto}
   .form-control{padding: 25px !important; border-radius: 12px; box-shadow: none;}
  
  .primary{ padding: 15px 0; display: inline-block; width: 100%; border-radius: 15px; border: 0; font-weight: 500; font-size: 17px; }
  .primary:focus{box-shadow: none; outline: none;}
  footer{    margin: 28px 0 0 0;
      padding: 22px 0;
      text-align: center;}
  footer ul{margin:0 0 14px 0; font-size: 16px; padding: 0; list-style: none;}
  footer ul li{margin:0; padding: 0; list-style: none;}
  footer ul li a{padding: 12px 0; }
  footer p{margin: 0 0 4px 0; padding: 0}
  .social_icons{margin: 10px 0 0 0;}
  .social_icons a{     width: 30px;
      height: 30px;
      display: inline-block;
      line-height: 37px;
      font-size: 15px;
      margin: 0 5px;
      border-radius: 111px;}
  
  
  /*Side Menu*/
  .sidenav .custom-select{margin: 0 4% !important; width:-webkit-fill-available  !important;}
  .side_menu{margin: 0 4% 15% 4%; padding: 0 0 20px 0; list-style: none; }
  .side_menu a{padding:16px 10px; font-size: 18px;
  line-height: 159.19%; width: 100%; display: block;}
  .side_menu .iconify{margin-right: 8px; font-size: 22px;}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
   
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .rounded{border-radius: 15px !important;}
  
  
  .font-bold{font-weight: 700}
  .footer-button{width: 100%;}
  .footer-button .col-md-8{  width: 79%; float: left; padding: 12px 12px; border-radius: 15px 0 0 15px; }
  .footer-button .col-md-8 .cart .iconify{float: right;  font-size: 36px; margin: 4px 3px 0 0;}
  .footer-button .col-md-8 .qty{ line-height: 40px; margin-right: 5px; background: #353853; display: inline-block; width: 40px; height:40px; text-align: center; border-radius: 12px; }
  .footer-button .col-md-4{ width: 20%; float: right; padding: 11px 15px; text-align: center;border-radius: 0 15px 15px 0;}
  .footer-button .col-md-4 a{ font-size: 28px; display: block; color: #fff;}
  .extra_selection .accordion .card-header:after {
      font-family: 'FontAwesome';
      content: "\f106";
      float: right;
      font-size: 24px;
      margin:-8px 5px 0 0;
  }
  .extra_selection .card-header.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\f107"; 
  }
  
  .extra_selection .accordion .card .card-header {
      border-radius: 0;
  }
  .extra_selection .card-body{padding: 0px ; }
  .extra_selection .card-header{border: 0;
      padding: 15px;
      margin: 0;
      font-size: 16px;}
  .extra_selection .card{border: 0; border-radius: 0}
  .extra_selection .sepcial_Notes{ margin-top: 6px; padding: 10px; border-radius: 15px; width: 100%; border:0;}
  
  .item_detail_popup .modal-body .btn_fixed_cart{ padding:12px;  border-radius: 15px;   background: #2D2F41; position: fixed; bottom: 10px; width:auto; left: 10px; right: 10px;}
  .item_detail_popup .modal-body{padding-bottom: 90px;}
  .item_detail_popup .close{position: absolute;
      right: 6px;
      top: 6px;
      z-index: 10;
     
      opacity: 10;
      width: 32px;
      height: 31px;
      border-radius: 8px;}
  .btn_fixed_cart .iconify{ font-size: 30px;}
  
  .qty_spinner input{    width: 50px;
      text-align: center;
      background: transparent;
      border: 0; }
  .qty_spinner{width: 100%;
      float: left;}
  .qty_spinner button:focus{outline: none; box-shadow: none;}
  .qty_spinner button{border:0;   width: 20px; background: transparent; font-weight: 900; font-size: 22px;}   
  
  /*Cart items*/
  ul{margin: 0; padding: 0; list-style: none;}
  .cart .cart_list_items li .qqty{border-radius: 90px; margin: 0 5px; padding:7px 15px; font-weight: 600; font-size: 16px;}
  .cart .cart_list_items li{padding:15px 0;}
  .cart .cart_list_items .control{ border-radius: 90px;  margin: 0 5px; padding:7px 15px;}
  .cart .cart_list_items .x_closer{float: right; font-weight: 600; margin:4px 8px;}
  .cart .cart_list_items strong{margin-left: 9px;}
  .cart .cart_list_items .item_title{ width: 40%; float: left; }
  .cart span .iconify{font-size: 18px; }
  
  
  .login_register .nav-tabs {
  
      border-radius: 15px !important; 
      padding: 7px !important;
  }
  
  .login_register .nav-tabs .nav-link.active, .login_register .nav-tabs .nav-item.show .nav-link {
      border-radius: 15px;
  }
  /*FORM WIZARD*/
  
  .stepwizard-step p {
      margin-top: 10px;
  }
  .stepwizard-row {
      display: table-row;
  }
  .stepwizard {
      display: table;
      width: 100%;
      margin-top: -30px;
      position: relative;
  }
  
  .stepwizard-step .btn-primary{ border: 0 !important}
  .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
  }
  .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 72%;
      height: 1px;
      z-order: 0;
      left: 51px;
  }
  .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
  }
  .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 5px 0;
      font-size: 15px;
      line-height: 1.428571429;
      border-radius: 15px;
  }
  
  .checkout label{font-size: 16px !important;}
  .checkout .row {
      margin: 0 !important;
      width: 100%;
      display: block;
  }
  .setup-content .btn-primary{
      padding: 15px 0;
      display: inline-block;
      width: 100%;
      border-radius: 15px;
      border: 0;
      font-weight: 500;
      font-size: 17px;
     
  }
  
  .map iframe{border-radius: 15px; }
  .search-address .location_search {
     position: absolute;
      right: 18px;
      bottom: 22%;
  }
  .search-address input:focus{outline: none; border: none; }
  .search-address input{    width: 75%;
      
      border: 0;
      margin: 10px 0 10px 10px;
      padding: 10px 13px;
      border-radius: 9px;}
  .search-address{
      padding:0;
      position: relative;
      display: inline-block;
      width: 100%;
      border-radius: 15px;
      border: 0;
      font-weight: 500;
      
    }
    .payment_method li{padding: 15px; margin:0 0 20px 0;  border-radius: 10px;}
    .checked_icon{ font-size: 22px; float: left; margin-right: 4px;}
    .fixed_btn_primary {
      padding: 15px 0;
      display: inline-block;
      border-radius: 15px;
      border: 0;
      font-weight: 500;
      font-size: 17px;
      width: 100%;
  }
  
  .need_help{ font-size: 17px;}
  
  
  /*nb*/
  .ul-account-list>li { border-radius: 15px; padding: 20px 20px; margin-bottom: 20px; }
  .ul-account-list li a { font-size: 18px; display:block;}
  .ul-address-book-list a{display: inline-block !important;}
  .ul-account-list>li .iconify{font-size: 22px;}
  
  .ul-account-list>li .item_title{ width: 163px; float: left; }
  .ul-order-list li .qqty {border-radius: 90px;  margin: 0 5px; padding: 6px 20px; font-weight: 600; font-size: 16px; }
  .ul-order-list li .order-id,
  .ul-order-list li .timendate {font-size: 13px;}
  
  
  .ul-order-detail-list li {margin-bottom: 25px;}
  .ul-order-detail-list li span.delivered-btn .iconify {margin-right: 3px;}
  
  .ul-address-book-list>li ul li {font-size: 16px;line-height: 35px;}
  
  
  .resetpass{margin: 0 6%; border-radius: 10px !important; border:0 }
  
  
  
  
  /*Home page 2*/
  .products_row {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 0;
      padding-bottom: 8px;
      padding-top: 16px;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
  .product_scroller {
    padding: 0 0 10px 0;
    margin:  0 0 15px 0;
      overflow-x: scroll;
  }
  .product_scroller .inner_pro {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      padding-left: 8px;
      padding-right: 8px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
  }
  .product_scroller .inner_pro li .qty_show {
      width: 100%;
      float: left;
      position: absolute;
      left: 0;
      bottom: 0;
  }
  .product_scroller .inner_pro li .qty_show button{width: auto;}
  .product_scroller .inner_pro  li {
      padding: 8px;
      position: relative;
  }
  .product_scroller .inner_pro  li a {
      cursor: pointer;
      flex-direction: column;
      height: 100%;
      display: flex;
      margin-right: 5px;
      text-decoration: none;
  }
  .product_scroller .inner_pro .img_block img{
      border-radius: 8px;
      margin-bottom: 8px;
   
  }
  .product_scroller .inner_pro .item_d {
      margin-top: 8px;
      width: 100%;
      align-items: flex-start;
      -webkit-box-pack: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
  }
  .product_scroller .inner_pro p {
      font-size: 13px;
      line-height: 1.23;
      letter-spacing: -0.1px;
      font-weight: 500;
      overflow-wrap: break-word;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }
  
  .product_scroller .inner_pro h4 {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.23;
      letter-spacing: -0.1px;
      margin-top: auto;
      overflow-wrap: break-word;
      word-break: break-word;
  }
  .show-more{font-weight: 200}
  .products_list2 .card-body .row {
      padding: 16px 12px 21px 12px;
  }
  
  .products_list2 .col-md-4 {
      width: 30%;
  }
  .products_list2 .col-md-8 {
      width: 70%;
  }
  .products_list2  .item_img img {
      border-radius: 15px;
  }
  .products_list2 .item_detail {
      float: left;
      width: 80%;
  }
  .products_list2 .price {
      font-weight: 600;
  }
  .products_list2 .price span{ text-decoration: line-through;}
  .products_list2 .price small {
      font-size: 14px;
      font-weight: 600;
      margin: 0 0px 0 10px;
  }
  .sub_footer{padding-bottom: 70px;}
  
  .scrollspyArea {
      width: auto;
      overflow: auto !important;
      padding: 0px 0 15px 10px;
      text-align: left;
      white-space: nowrap;
  }
  .scrollspyArea li.active{ border: #666  solid 1px;}
  .scrollspyArea li:hover{ border: #666  solid 1px;}
  .scrollspyArea li:hover a{ color: #666 ;}
  .scrollspyArea li.active a{ color: #666 ;}
  .scrollspyArea li{    display: inline-block;
      padding: 5px 14px;
      border-radius: 8px;
      margin: 0 0px 0 5px;
      border: #eaeaea  solid 1px;}
  .scrollspyArea li a{color: #eaeaea ; display: block; }
  .filtericon{color: #ffffff; font-size: 26px;}
  
  .home3_products_area{}
  .home3_products_area .inner_pro {padding: 0 8px;}
  .home3_products_area .inner_pro  li {
      padding: 0 2px;
      position: relative;
      float: left; 
      width: 50%;
  }
  .home3_products_area .inner_pro  li a {
      cursor: pointer;
      flex-direction: column;
      height: 100%;
      display: flex;
      margin-right: 5px;
      text-decoration: none;
  }
  .home3_products_area .inner_pro .img_block{position: relative;}
  .home3_products_area .inner_pro .img_block h4{position: absolute;
      color: #fff;
      font-size: 20px;text-shadow: 1px 1px #333;
      top: 17px;
      left: 10px;}
  .home3_products_area .inner_pro .img_block span{position: absolute;
      background: #fff;
      width: 33px;
      height: 33px;
      border-radius: 110px;
      text-align: center;
      line-height: 33px;
      color: #666;
      bottom: 17px;
      left: 10px;}
  .home3_products_area .inner_pro .img_block img{
  
      border-radius: 8px;
      margin-bottom: 8px;
      width: 100%;
   
  }
  .home3_products_area .inner_pro .item_d {
      margin-top: 8px;
      width: 100%;
      align-items: flex-start;
      -webkit-box-pack: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
  }
  .home3_products_area .inner_pro p {
      font-size: 13px;
      line-height: 1.23;
      letter-spacing: -0.1px;
      font-weight: 500;
      overflow-wrap: break-word;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }
  
  .product_scroller .inner_pro h4 {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.23;
      letter-spacing: -0.1px;
      margin-top: auto;
      overflow-wrap: break-word;
      word-break: break-word;
  }
  
  
  
  
  
  .product_scroller_3 {
    padding: 0 0 10px 0;
    margin:  0 0 15px 0;
  }
  .product_scroller_3 .inner_pro {
     
      
  }
  .product_scroller_3 .inner_pro li .qty_show {
      width: 100%;
      float: left;
      position: absolute;
      left: 0;
      bottom: 0;
  }
  .product_scroller_3 .inner_pro li .qty_show button{width: auto;}
  .product_scroller_3 .inner_pro  li  img{width: 100%;}
  .product_scroller_3 .inner_pro  li {
      padding: 8px;
      float: left;
  width: 50%;
      position: relative;
  }
  .product_scroller_3 .inner_pro  li a {
      cursor: pointer;
      flex-direction: column;
      height: 100%;
      display: flex;
      margin-right: 5px;
      text-decoration: none;
  }
  .product_scroller_3 .inner_pro .img_block img{
      border-radius: 8px;
      margin-bottom: 8px;
   
  }
  .product_scroller_3 .inner_pro .item_d {
      margin-top: 8px;
      width: 100%;
      align-items: flex-start;
      -webkit-box-pack: center;
      justify-content: center;
      flex-direction: column;
      display: flex;
  }
  .product_scroller_3 .inner_pro p {
      font-size: 13px;
      line-height: 1.23;
      letter-spacing: -0.1px;
      font-weight: 500;
      overflow-wrap: break-word;
      word-break: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }
  
  .product_scroller_3 .inner_pro h4 {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.23;
      letter-spacing: -0.1px;
      margin-top: auto;
      overflow-wrap: break-word;
      word-break: break-word;
  }
  .product_scroller_3 .inner_pro p {
      color: rgb(0, 0, 0);
    
  }
  .product_scroller_3 .inner_pro h4 {
      color: #00C2AD;
  }
  
  
  
  .main_wrapper{width: 100%;
      min-height: 100vh;
      height: 100vh;
      display: flex;
      -webkit-box-pack: end;
      justify-content: flex-start;
      -webkit-box-align: center;
      align-items: center;
      position: relative;
      background: url(../img/bg1.jpg) center center / cover no-repeat;}
  
      .main_wrapper::before {
      content: "";
      width: 100%;
      height: 100%;
      display: flex;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      right: inherit;
  }
  
  .contentMenuWrapper {
      width: 500px;
      height: 100%;
      overflow-y: auto;
      z-index: 10;
      position: relative;
  }
  .contentMenuWrapper  .contentFood {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: rgb(255, 255, 255);
      padding:0px;
  }
  
    /* width */
     ::-webkit-scrollbar {
  width: 2px;
  
  }
     ::-webkit-scrollbar {
  height: 2px; 
  
  }
  /* Track */
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  
  }
  /* Handle */
    ::-webkit-scrollbar-thumb {
  background: #888; 
  }
  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
  background: #555; 
  }
  
  .footer{z-index: 3;
      width: 100%;
      max-width: 1024px;
      min-width: 320px;
      display: -webkit-box;
      display: flex;
      position: fixed;
      bottom: 15px;
      left: 0;
      -webkit-box-pack: center;
      justify-content: center; position: fixed;}
      .footer .footer-button {
      width: calc(100% - 20px);
  }
  .footer  .footer-button {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      color: var(--color-reverse-font);
      outline: none;
      border: 0;
      border-radius: 7px;
      box-shadow: none;
      cursor: pointer;
      box-sizing: border-box;
      touch-action: manipulation;
      -webkit-appearance: none;
  }
  @media screen and (min-width: 1024px){
  
  .footer {
      max-width: 500px;
  }
  }